*,
:after,
:before {
	box-sizing: border-box;
	user-select: none;
}

html {
	font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	font-size: 62.5%;
	-webkit-text-size-adjust: 100%;
}

body {
	font-size: 1.6rem;
	line-height: 1.25;
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

.table {
	max-width: 120rem;
	margin: 5rem auto;
	border: 1px solid green;
}

.tr {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

.tr--gray,
.tc--gray {
	background: #ddd;
}

.tc {
	grid-column-end: 1 / -1;
	border: 1px solid green;
	padding: 1rem;
}

.tc--bold {
	font-weight: bold;
}

.tc--header {
	font-weight: bold;
	text-align: center;
	font-size: 2.4rem;
}

.tc--5 {
	grid-column-end: span 5;
}

.tc--2 {
	grid-column-end: span 2;
}

.tc--sm {
	font-size: 1.4rem;
}

ul,
ol {
	/* margin: 0;
	padding: 1rem 0 0 2rem; */
}

li {
	/* padding: 0 0 1rem; */
}

.navPane {
	position: fixed;
	top: 0;
	left: 0;
	margin: 2em;
}

.navPane .label {
	padding: 0;
	margin: 0;
}

.navPane .label {
	width: 100%;
	position: relative;
	margin-bottom: 0.5em;
	transform: skew(-10deg);
	padding: 0.1em 0.5em;
}

.navPane .label a {
	display: inline-block;
	width: 100%;
	background-color: #ad0000;
	font-size: 1em;
	border: 0.1em solid;
	border-color: #111;
	cursor: pointer;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 0 0 5px #222;
	text-align: center;
	text-decoration: none;
	padding: 0.25em 0.5em;
}

.navPane .label a:visited {
	text-decoration: none;
}

.navPane .label a:hover {
	background-color: #fff;
	color: #ad0000;
	text-shadow: unset;
}
