:root {
	--green: #37af8c;
}

.ekg {
	width: 100%;
	height: 100%;
	background: var(--charcoal);
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin: 0 
}

/** scan lines **/
/* .ekg:after {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.2) 80%);
	background-size: .5rem .3rem;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	display: block;
} */

.graph {
	position: relative;
	outline: .1rem var(--green) solid;
	box-shadow: 0 0 .4rem var(--green);
	padding: 0;
	background: linear-gradient(90deg, var(--charcoal) 0, var(--green) 50%, var(--charcoal) 50%);
	animation: travel 6s infinite linear;
	display: flex;
	background-size: 100% auto;
	background-position: -38rem 0;
	height: 20rem;
	flex-basis: 83.3333%;
	max-width: 83.3333%;
}

.block {
	margin: 0;
	display: flex;
	width: 16.7%;
	height: 100%;
	background-size: 700% auto;
	animation: shuffle 36s steps(1) infinite;
}

.block:first-child {
	background-position: 0, 0;
	animation-delay: -2s;
}

.block:nth-child(2n) {
	background-position: 16.6%, 0;
	animation-delay: -13s;
}

.block:nth-child(3n) {
	background-position: 33.3%, 0;
	animation-delay: -30s;
}

.block:nth-child(4n) {
	background-position: 50%, 0;
	animation-delay: -5s;
}

.block:nth-child(5n) {
	background-position: 66.6%, 0;
	animation-delay: -22s;
}

.block:last-child {
	background-position: 83.3%, 0;
	animation-delay: -9s;
}

.heartbeat {
	color: var(--green);
	position: absolute;
	top: 1.5rem;
	right: 2rem;
	opacity: 1;
	animation: beat 1s infinite;
}

@keyframes shuffle {
	0% {
		background-position: 83.3%, 0;
	}
	16.6% {
		background-position: 33.33%, 0;
	}
	33.3% {
		background-position: 66.66%, 0;
	}
	50% {
		background-position: 16.66%, 0;
	}
	66.6% {
		background-position: 50%, 0;
	}
	83.3% {
		background-position: 0%, 0;
	}
}

@keyframes beat {
	0% {
		opacity:  1;
	}
	35% {
		opacity: 1;
	}
	45% {
		opacity: 0.3;
	}
	60% {
		opacity: 1
	}

	100% {
		opacity: 1;
	}
}

@keyframes travel {
	0% {
		background-position: -36rem 0;
	}
	100% {
		background-position: 32rem 0;
	}
}
