:root {
	--bold: 700;
	--black: #000;
	--white: #fff;
	--charcoal: #222;
	--darkCharcoal: #111;
	--lifelineRed: #ad0000;
}

*,
:after,
:before {
	box-sizing: border-box;
	user-select: none;
}

html {
	font-family:system-ui,-apple-system,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
	font-size:62.5%;
	-webkit-text-size-adjust:100%
}

body {
	font-size:1.6rem;
	line-height:1.25;
	margin:0;
	padding:0;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.lifeline {
	padding: 4rem;
}

.software {
	border: .3rem solid var(--charcoal);
	width: 100rem;
	height: 65rem;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;
	color: var(--white);
}

.header {
	background: var(--charcoal);
	color: var(--white);
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: 1fr max-content 1fr;
	align-items: center;
	padding: .5rem 1rem;
	font-weight: var(--bold);
}

.header__tray {
	display: grid;
	grid-gap: 1.5rem;
	display: flex;
	align-items: center;
}

.header__logo-img {
	display: block;
	max-height: 3rem;
}

.header__system {
	justify-content: flex-end;
}

.header__weather,
.header__battery {
	display: grid;
	grid-gap: .5rem;
	grid-template-columns: 2.5rem 1fr;
}

.header__clock-meridiem {
	font-size: 1rem;
}

.header__battery-percent-sign {
	font-size: 1.1rem;
}

.nav__item {
	padding: 0 2rem;
	height: 100%;
	background: #aaa;
	display: flex;
	align-items: center;
	color: #333;
	cursor: pointer;
}

.nav__item:hover {
	opacity: .75;
}

.nav__item--prev {
	grid-area: prev;
}

.nav__item--next {
	justify-content: flex-end;
	grid-area: next;
}

.main {
	height: 100%;
}

.container {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-areas: 
		"prev apps next"
		"prev menus next";
	grid-template-columns: 9rem 1fr 9rem;
	grid-template-rows: 1fr max-content;
	align-items: center;
	overflow: hidden;
	position: relative;
}

.apps {
	width: 100%;
	background: var(--charcoal);
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-style: italic;
	grid-area: apps;
}

.menus {
	background: var(--charcoal);
	width: 100%;
	padding: 2rem 9rem;
	grid-area: menus;
}

.menu__buttons {
	display: flex;
	justify-content: center;
	grid-gap: 3rem;
	grid-template-columns: repeat(3, 1fr);
}

.menu__btn,
.modal__btn,
.action__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 1rem;
	padding: 1rem 2.5rem 1rem 2rem;
	border: .2rem solid var(--white);
	cursor: pointer;
	transform: skewX(-10deg);
	min-width: 17rem;
	background: 0;
	font-family: inherit;
	color: inherit;
	font-size: 1.6rem;
}

.menu__btn:hover,
.modal__btn:hover,
.action__btn:hover {
	color: var(--charcoal);
	background: var(--white);
}

.menu__btn-icon,
.modal__btn-icon,
.action__btn-icon {
	transform: skewX(10deg);
}

.menu__btn-label,
.modal__btn-label,
.action__btn-label {
	font-weight: var(--bold);
	font-style: italic;
	text-transform: uppercase;
	transform: skewX(10deg) translateY(-1px);
}

.menu__drawer {
	background: var(--charcoal);
	width: 40rem;
	box-shadow: 0 0 1rem #000;
	position: absolute;
	bottom: 0;
	overflow-y: auto;
	overflow-x: visible;
	transition: .25s ease all;
	height: 100%;
	z-index: 20;
}

.menu__drawer::-webkit-scrollbar {
	width: .5rem;
	z-index: 20;
}

.menu__drawer::-webkit-scrollbar-track {
	background: var(--charcoal);
}

.menu__drawer::-webkit-scrollbar-thumb {
	background: var(--white);
}

.menu__drawer--emergency {
	left: 0;
	transform: translateX(-105%);
}

.menu__drawer--settings {
	right: 0;
	transform: translateX(105%);
}

.menu__drawer--apps {
	left: 50%;
	transform: translate(-50%, 105%);
}

.menu__drawer--active {
	transform: none;
}

.menu__drawer--apps.menu__drawer--active {
	transform: translateX(-50%);
}

.menu__drawer-title {
	position: relative;
	text-transform: uppercase;
	font-style: italic;
	font-weight: var(--bold);
}

.menu__drawer-text {
	font-size: 3rem;
	padding: 2rem 2rem 2rem 7rem;
}

.menu__drawer-icon {
	opacity: .1;
	position: absolute;
	left: 2rem;
	top: 1rem;
}

.menu__drawer-close {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(-3rem, -50%);
	cursor: pointer;
}

.menu__drawer-close:hover {
	opacity: .5;
}

.main__overlay {
	background: rgba(0, 0, 0, .8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	z-index: 10;
	transition: .25s all ease;
	cursor: pointer;
}

.main__overlay--active {
	opacity: 1;
	visibility: visible;
}

.main__overlay:hover {
	background: rgba(0, 0, 0, .825);
}

.menu__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu__link {
	background: 0;
	border: 0;
	text-align: left;
	cursor: pointer;
	display: grid;
	width: 100%;
	grid-gap: 1.5rem;
	grid-template-columns: 3rem 1fr;
	padding: 1.5rem 4rem 1.5rem 2rem;
	color: var(--white);
	font-style: italic;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: var(--bold);
	align-items: center;
	font-size: 1.8rem;
	font-family: inherit;
}

.menu__link:hover {
	opacity: .5;
}

.menu__link--extra {
	grid-template-columns: 3rem 1fr 2rem;
	padding-right: 2rem;
}

.menu__link-icon {
	display: flex;
	justify-content: center;
}

.menu__drawer--settings .menu__link {
	grid-template-columns: 2rem 1fr;
}

.menu__drawer--settings .menu__link-name {
	order: 1;
}

.menu__item {
	position: relative;
}

.menu__sub {
	background: var(--darkCharcoal);
	top: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	box-shadow: 0 0 1rem #000 inset;
	height: 0;
	overflow: hidden;
}

.menu__sub--active {
	height: auto;
}

.menu__sub .menu__link {
	font-size: 1.6rem;
	grid-gap: 1rem;
	padding: 1rem 4rem;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 20;
	transform: translate(-50%, -50%);
	background: var(--charcoal);
	box-shadow: 0 0 1rem #000;
	/* transform: skewX(-10deg); */
	display: grid;
	grid-gap: 2rem;
	padding: 2rem;
	opacity: 0;
	visibility: hidden;
	transition: all .25s ease;
}

.modal__header {
	font-weight: var(--bold);
	text-transform: uppercase;
	font-style: italic;
	font-size: 2rem;
	display: grid;
	grid-template-columns: 1fr max-content;
	grid-gap: 2rem;
}

.modal__body {
	padding: 1rem 0;
}

.modal__footer {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 3rem;
}

.modal__close {
	border: 0;
	background: 0;
	padding: 0;
	cursor: pointer;
}

.modal__close:hover {
	opacity: .75;
}

.modal__btn {
	padding: .75rem 1.5rem .75rem 1.25rem;
	min-width: 12rem;
}

.modal--active {
	opacity: 1;
	visibility: visible;
	transform: translate(-50%, calc(-50% + -3rem));
}

.blood-pressure,
.oxygen {
	display: grid;
	height: 100%;
	grid-gap: 3rem;
	padding: 3rem 0;
	width: 100%;
}

.chart {
	align-self: flex-end;
	/* visibility: hidden;
	opacity: 0;
	transition: all .25s ease; */
	display: none;
}

.chart--active {
	display: block;
	/* opacity: 1;
	visibility: visible; */
}

.chart-title {
	text-transform: uppercase;
	font-weight: var(--bold);
	padding:0 0 1rem 3rem;
	opacity: .5;
}

.measuring {
	width: 100%;
}

.readings {
	font-weight: var(--bold);
	font-size: 2.5rem;
	grid-gap: 4rem;
	padding: 0 3rem;
	align-items: center;
	justify-content: center;
	display: none;
}

.readings--active {
	display: flex;
}

.reading {
	width: 100%;
	max-width: 33%;
}

.reading .label {
	grid-column: 1 / -1;
	padding: 1rem 2rem;
	transform: skew(-10deg);
	font-style: normal;
	text-transform: uppercase;
}

.systolic .label {
	background: #0029ff;
}

.diastolic .label {
	background: #ff9400;
}

.pulse .label {
	background: #444444;
	color: #35f575;
}

.spo2 .label {
	background: #419cdd;
}

.reading .value {
	font-size: 5rem;
}

.reading .value span {
	font-size: 3rem;
}

.actions {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: flex-start;
	grid-gap: 3rem;
	flex-wrap: wrap;
}

.measuring {
	font-size: 3rem;
	text-align: center;
	font-weight: var(--bold);
	text-transform: uppercase;
	display: none;
}

.measuring svg {
	animation: beat 1s infinite;
	margin-right: 1rem;
}

.measuring--active {
	display: block;
}